<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>Name</key>
        <string>Jennifer Aniston</string>
        <key>URL</key>
        <string>http://www.womenshealthmag.com/files/wh6_uploads/images/aniston-fit-tips_0.jpg</string>
        <key>Size</key>
        <string>26.925 bytes</string>
        <key>Date</key>
        <string>20/09/2014</string>
    </dict>
	<dict>
		<key>Name</key>
		<string>Russel Crowe</string>
		<key>URL</key>
		<string>http://ovnisvideos.net/wp-content/uploads/2013/03/RussellCrowe.jpg</string>
		<key>Size</key>
		<string>45.430 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jennifer Lawrence</string>
		<key>URL</key>
		<string>http://cdn.atodomomento.com/wp-content/uploads/2014/08/Jennifer-Lawrence.jpg</string>
		<key>Size</key>
		<string>47.940 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Matthew McConaughey</string>
		<key>URL</key>
		<string>http://www.rocketsing.com/wp-content/uploads/2014/04/Matthew-McConaughey.jpg</string>
		<key>Size</key>
		<string>145.997 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Meryl Streep</string>
		<key>URL</key>
		<string>http://www.ehui.com/wp-content/uploads/2011/11/meryl-streep.jpg</string>
		<key>Size</key>
		<string>45.483 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dustin Hoffman</string>
		<key>URL</key>
		<string>http://static2.todanoticia.com/tn2/uploads/news_image/2013/02/08/dustin.JPG</string>
		<key>Size</key>
		<string>2.759.127 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Anne Hathaway</string>
		<key>URL</key>
		<string>http://staticvosf5b.lavozdelinterior.com.ar/sites/default/files/styles/landscape_1008_566/public/archivo/nota_periodistica/anne_hathaway_3.jpg</string>
		<key>Size</key>
		<string>58.682 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bruce Willis</string>
		<key>URL</key>
		<string>http://periodicocorreo.com.mx/wp-content/uploads/2014/08/bruce-willis.jpg</string>
		<key>Size</key>
		<string>334.791 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Amy Adams</string>
		<key>URL</key>
		<string>http://www.finanzas.com/archivos/201303/amy.jpg</string>
		<key>Size</key>
		<string>304.994 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ryan Reynolds</string>
		<key>URL</key>
		<string>http://www.laredso.com/wp-content/uploads/Ryan-Reynolds.jpg</string>
		<key>Size</key>
		<string>134.439 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Emma Watson</string>
		<key>URL</key>
		<string>http://images.boomsbeat.com/data/images/full/8013/emma-cover-jpg.jpg</string>
		<key>Size</key>
		<string>240.008 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Matt Damon</string>
		<key>URL</key>
		<string>http://www.googlesportsclub.com/wp-content/uploads/2014/09/Matt-Damon-sdasdasdasdasdasdasda.jpg</string>
		<key>Size</key>
		<string>160.358 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Penelope Cruz</string>
		<key>URL</key>
		<string>http://3.bp.blogspot.com/-3ugiExujM_4/Uay15UtoFDI/AAAAAAAAB-0/qaH78OIbH1E/s1600/Penelope-Cruz.jpg</string>
		<key>Size</key>
		<string>189.622 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Nicolas Cage</string>
		<key>URL</key>
		<string>http://a1.files.biography.com/image/upload/c_fill,g_face,h_300,q_80,w_300/MTIwNjA4NjMzNzYwMjg2MjIw.jpg</string>
		<key>Size</key>
		<string>11.743 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Katherine Heigl</string>
		<key>URL</key>
		<string>http://img2.timeinc.net/instyle/images/2007/galleries/082307_heigl_400X400.jpg</string>
		<key>Size</key>
		<string>43.753 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Orlando Bloom</string>
		<key>URL</key>
		<string>http://rumberanetwork.com/wp-content/uploads/2014/03/orlando-orlando-bloom-18709699-1280-960.jpg</string>
		<key>Size</key>
		<string>121.443 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Julia Roberts</string>
		<key>URL</key>
		<string>http://2.bp.blogspot.com/-M5aRljUyNxQ/Tq28z7mj3ZI/AAAAAAAAX9o/olUhpoEYWlw/s1600/julia-roberts-400.jpg</string>
		<key>Size</key>
		<string>32.953 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Denzel Washington</string>
		<key>URL</key>
		<string>http://eselcine.com/wp-content/uploads/2013/04/Denzel-Washington-imagen.jpg</string>
		<key>Size</key>
		<string>30.783 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Nicole Kidman</string>
		<key>URL</key>
		<string>http://elvenezolanonews.com/wp-content/uploads/2014/06/nicole.jpg</string>
		<key>Size</key>
		<string>53.039 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Javier Bardem</string>
		<key>URL</key>
		<string>http://www.mubis.es/media/users/8423/64125/javier-bardem-en-negociaciones-para-ser-barbanegra-en-el-nuevo-peter-pan-original.jpg</string>
		<key>Size</key>
		<string>124.933 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lupita Nyong&apos;o</string>
		<key>URL</key>
		<string>http://edgecast.sdr-files.buscafs.com/uploads/news/photos/news_photo_51592_1398275335.jpg</string>
		<key>Size</key>
		<string>64.392 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Johnny Depp</string>
		<key>URL</key>
		<string>http://images.boomsbeat.com/data/images/full/23592/johnny-depp-1-jpg.jpg</string>
		<key>Size</key>
		<string>96.468 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cate Blanchett</string>
		<key>URL</key>
		<string>http://lagazzettadf.com/wp-content/uploads/2014/08/Cate-Blanchett.jpg</string>
		<key>Size</key>
		<string>20.562 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Samuel L. Jackson</string>
		<key>URL</key>
		<string>http://www.invsn.mx/wp-content/uploads/2014/07/Samuel-L.-Jackson.jpg</string>
		<key>Size</key>
		<string>19.570 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Charleze Theron</string>
		<key>URL</key>
		<string>http://www.garuyo.com/web/media/images/images/charlize-theron-6.jpg</string>
		<key>Size</key>
		<string>36.252 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jared Leto</string>
		<key>URL</key>
		<string>http://rumberanetwork105.com/wp-content/uploads/2014/08/Jared-Leto-en-route-vers-l-Oscar_article_landscape_pm_v8.jpg</string>
		<key>Size</key>
		<string>290.885 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uma Thurman</string>
		<key>URL</key>
		<string>http://www.blogdaddy.com/wp-content/uploads/2010/12/Uma-Thurman.jpg</string>
		<key>Size</key>
		<string>704.360 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Antonio Banderas</string>
		<key>URL</key>
		<string>http://elvenezolanonews.com/wp-content/uploads/2014/08/antonio-bandera.jpg</string>
		<key>Size</key>
		<string>32.998 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Reese Witherspoon</string>
		<key>URL</key>
		<string>http://1.bp.blogspot.com/-ZN1wohoyqI0/UDhVPYKrNrI/AAAAAAAAQdc/izh_YBqxAuA/s1600/reese13.jpg</string>
		<key>Size</key>
		<string>34.060 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Morgan Freeman</string>
		<key>URL</key>
		<string>http://media.salon.com/2014/06/morgan_freeman.jpg</string>
		<key>Size</key>
		<string>290.677 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Winona Ryder</string>
		<key>URL</key>
		<string>http://www.gq.com/images/women/2011/01/winona-ryder/winona-ryder_630.jpg</string>
		<key>Size</key>
		<string>144.049 bytes</string>
		<key>Date</key>
		<string>20/09/2014</string>
	</dict>
</array>
</plist>
